extends layout

block content
  h1= title
  p Welcome to #{title}
  p Enter a name below to run a PEP check
  input(type="text" id="pep-name")
  button(onclick="runCheck()") Search
  h2 Response 
  p(id="pep-response") N/A