extends layout

block content
  h1= title
  p Welcome to #{title}
  p Enter a name below to run a PEP check on a person
  input(type="text" id="pep-name")
  button(onclick="runCheck()") Search
  br
  input(type="checkbox" id="pep-case")
  label(for="pep-case") Case-sensitive search 
  h2 Response 
  p(id="pep-response") N/A